@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: lightgray;
}

a {
  display: block;
  margin-bottom: 50px;
  text-decoration: none;
  font-size: 20px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: lightcoral;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 25%;
  margin: 0 auto;
}

label,
input,
button {
  font-size: 16px;
  letter-spacing: 0.04em;
  font-family: 'Montserrat', sans-serif;
}

.form > label {
  margin-bottom: 8px;
}

.form > label > input {
  display: block;

  width: calc(100% - 12px);
  padding-inline: 4px;
  padding-block: 4px;
  margin-top: 4px;
  border: 2px solid rgb(192, 192, 192);
  border-radius: 4px;
}

fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: center;
  border-radius: 4px;
  border-style: solid;
}

fieldset > legend {
  font-size: 16px;
  letter-spacing: 0.04em;
  /* font-weight: bold; */
  text-align: left;
}

button {
  margin-top: 8px;
  min-width: 95px;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding-block: 8px;
  background-color: #4e75ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #6c8cff;
}
